<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>Retwis - Example Twitter clone based on the Redis Key-Value DB</title>
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="page">
    <div id="header">
        <a href="/user/redirectToIndex"><img style="border:none" src="/static/logo.png" width="192" height="85"
                                             alt="Retwis"></a>
        <div id="navbar">
            #if(${user})
                <a href="/user/toHomePage">主页</a>
                | <a href="/user/toTimelinePage">热点</a>

                | <a href="/user/logout">退出</a>
            #end
        </div>
    </div>
    <div id="postform">
        <h2 class="username">${profileUsername}</h2>
        #if(!${concerned})
            <a href="/user/concer?username=${profileUsername}" class="button">关注ta</a>
        #end
        <div id="homeinfobox">
            #if(${fansNum})
                ${fansNum} 粉丝<br>
            #elseif(!${fansNum})
                0 粉丝
            #end
            #if(${concernsNum})
                ${concernsNum} 关注<br>
            #elseif(!${concernsnum})
                0 关注<br>
            #end
        </div>
    </div>

    #foreach($status in ${statuses})
        <div class="post">
            <a class="username" href="/user/toProfilePage?username=${status.username}">${status.username}</a>
            ${status.content}<br>
            <i>${status.time} 分钟前 通过 web发布</i>
        </div>
    #end

    <div id="footer">redis版本的仿微博项目 <a href="http://redis.io">Redis key-value database</a></div>
</div>
</body>
</html>
